<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Пользователь <%= name %>. Задачи для жизни.</title>
	<link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic&subset=cyrillic-ext,cyrillic,latin' rel='stylesheet' type='text/css'>
	<link href="/css/core.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="enter-point"></div>


<script src="/bower_components/react/react-with-addons.min.js"></script>
<script src="/js/bundle.js"></script>
</body>
</html>