// Colors
$color_red = #DC4B39;
$color_grey = #f2f2f2;
$color_text = #777;
$color_border = #DBDBDB;

$color_dark_blue = #0288d1;
$color_light_blue = #03a9f4;
$color_blue_ico = #01547a;
$color_blue_hover = #c8ebfb;

$color_grey_title = #757575;
$color_grey_bglight = #ebebeb;

$color_btn = #18ffff;
$color_white = #fff;