.sidebar__nav
  width 100%;
  max-width 250px;
  height 100%;
  padding 35px 20px 0 18px;
  position fixed;
  top 0;
  left -250px;
  bottom 0;
  background $color_grey_bglight;

  display block;
  float left;

  -moz-transition left .2s ease;
  -webkit-transition left .2s ease;
  transition left .2s ease;

  box-shadow inset 0px -3px 20px rgba(0,0,0,0.2);